.container {
    position: relative;
    width: 100%;
}
.path_container {
    display: block;
    width: 100%;
    text-align: center;
}

.path_part {
    font-size: 24px;
    cursor: pointer;
}

.path_part:hover {
    font-weight: bold;
}