.input_container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 220px;
    height: 55px;
    margin-bottom: 25px;
    justify-content: flex-end;
}

.input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    padding: 8px;
    border-radius: 5px;

}

.active_placeholder_text {
    position: relative;
    top: -2px;
    font-size: 11px;
}

.error_text {
    color: red;
    font-size: 11px;
}